<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Support 7 MDT</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./style.css">
  <link rel="icon" type="image/png" href="favicon.png">
</head>

<body>
  <div id="app">
    <div :class="[{ red: offline }]" class="status">
      <p>{{ status }}</p>
    </div>
    <div class="button-area">
      <button @click="requestButton(type)" v-for="type in typesOfRequest" :class="type">
        {{ type }}
      </button>
    </div>
    <div v-if="responseSuccess" class="info">
      <p v-for="item in messageQueue" v-html="item"></p>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>

  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        status: '',
        offline: false,
        responseSuccess: false,
        messageQueue: [],
        typesOfRequest: ['enroute', 'on scene', 'clear returning', 'in station', 'need resupply', 'out of service', 'SOS']
      },
      methods: {
        isOnline() {
          if (navigator.onLine) {
            this.status = `Online`
            this.offline = false
          }
          else {
            this.status = `Offline. Messages queued awaiting reconnection.`
            this.offline = true
          }
        },
        updateRequest(response, type, time) {
          if (response === 200) {
            this.responseSuccess = true

            var request = new XMLHttpRequest();
            request.open('POST', 'https://script.google.com/macros/s/AKfycbycR1J18ivj17n2Z6zdb0Ibs6imKll86hqMs_Wa/exec', true);
            request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
            request.send(`name=${type}&comment=${type}+at+${time}`)
            
            this.messageQueue.push(`You sent a message: <span>${type}</span> at <span>${time}</span>.`)
          }
        },
        requestButton(type) {
          var vueThis = this;
          let date = new Date();
          let time = date.toTimeString();
          if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('./service-worker.js').then((registration) => {
              return navigator.serviceWorker.ready;
            }).then((registration) => {
              registration.sync.register(`request-${type}-${time}`).then(() => {
                console.log('%c sync registered');
              }).catch(function (error) {
                console.log('Unable to fetch resources.');
              });
            }).catch(function (error) {
              console.log('Unable to register Service Worker.');
            });
          }
          else {
            console.log('Service Worker functionality not supported.');
          }
        }
      }
    })

    window.addEventListener('online', vm.isOnline);
    window.addEventListener('offline', vm.isOnline);
    vm.isOnline();

    navigator.serviceWorker.addEventListener('message', function handler(event) {
      console.log(event);
      vm.updateRequest(event.data.response, event.data.resource, event.data.time)
    });

  </script>
</body>

</html>
